<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-center">
    <button class="btn btn-outline-success" id="botoncarrito" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </button>
  </form>
</nav>